#!/bin/bash
PIPE="{{ ssh_auth_sock }}"
NPIPERELAY_EXE="{{ npiperelay_exe }}"

[[ -S "$PIPE" ]] && rm "$PIPE"
exec socat "UNIX-LISTEN:$PIPE,fork,umask=077" "EXEC:$NPIPERELAY_EXE -ep -s //./pipe/openssh-ssh-agent,nofork"

